/* Home Page */
.hero-section {
    /* GRID */
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

    /* BACKGROUND */
    background: url("img/bg.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-content p {
    color: #79CFC4;
    font-family: 'Handlee', cursive;
    letter-spacing: 2px;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: normal;
}

/* Logo */
.logo {
    max-width: 300px;
    border-radius: 30%;
    justify-self: start;
}

/* Center content */
.hero-content {
    max-width: 600px;
    justify-self: center;
}

/* Home button (top-right) */
.home-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

/* Card Section */

/* Image container controls ratio */
.card-img-wrapper {
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
}

/* Image itself */
.card-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
}

.card-section {
    background: #79CFC4;
    border-radius: 40px;
    overflow: hidden;
    width: 100%;                 /* fluid width */
    height: auto;            flexible height
}

.card-body {
    font-size: clamp(1.1rem, 1.6vw, 1.4rem);
}

.card-title {
    font-family: 'Handlee', cursive;
    font-weight: bold;
    font-size: clamp(1.3rem, 2.2vw, 1.8rem);
    color: #8B3E2F;
}

.card-body p {
    text-align: left;
    font-family: 'Handlee', cursive;
    font-weight: bold;
    color: #2F2F2F;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}

.card-actions {
    display: flex;
    margin-top: clamp(1rem, 3vw, 2.5rem);
    gap: 5rem;
    justify-content: center;
    bottom: 1rem;
}

/* Form to edit data */
.new_cafe {
    display: grid;
    grid-template-columns: 5fr;
    justify-content: center;
    padding: 5%;
    font-family: 'Handlee', cursive;
    font-weight: bold;
    background: #79CFC4;
}

/* Flash Message */
#flash-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

.flash-msg {
    padding: 12px 18px;
    border-radius: 8px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 600;
    animation: fadeOut 3s forwards;
}

.flash-msg.success {
    background-color: #28a745;
}

.flash-msg.danger {
    background-color: #dc3545;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    70% { opacity: 1; }
    100% { opacity: 0; display: none; }
}

/* Form to edit API key */
.delete_cafe {
    display: grid;
    grid-template-columns: 5fr;
    justify-content: center;
    padding: 5%;
    font-family: 'Handlee', cursive;
    font-weight: bold;
    background: #79CFC4;
}